@import 'globals';

/*
.flex {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  position: relative;
}
*/

.root {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @include media('<=grid-3-cols') {
    max-width: map-get($widths, 'teaser-max');
  }
}

.link {
  line-height: typography('line-height-slim');
  text-decoration: none;
  position: relative;
  display: block;
  color: color('black');
  border: 1px solid color('grey-lite');
  padding: 10px;
  transition: transform 0.3s ease;
}

.image {
  margin: -10px -10px 12px;
}

.link:hover,
.link:active,
.link.focus {
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.title {
  font-weight: normal;
  margin-bottom: 15px;
  font-size: 22px;
  word-wrap: break-word;
}

.footer {
  margin-top: auto;
}

.tags {
  position: absolute;
  bottom: 100%;
  left: -1px;
}
