@import 'globals';

.hints {
  background-color: color('grey-lighter');
  padding: 1.2em;

  @include media('>=text-boost') {
    padding: 2em;
  }
}

.icon {
  display: inline-block;
  margin-right: 0.4em;
  position: relative;
  top: 1px;
}
