@import 'globals';

.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: color('grey-lighter');
  font-size: 14px;
}

.contain-shared {
  text-align: center;
  height: 60px;

  @include media('>form-switch') {
    width: 150px;
  }
}

.contain-left {
  composes: contain-shared;
  border-right: 1px solid color('grey');
}

.contain-right {
  composes: contain-shared;
  border-left: 1px solid color('grey');
}

.previous,
.next {
  display: block;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.hidden {
  @include visuallyhidden;
}

/*
 * Arrows
 *
 * 1. Alignment with transform
 */
.right,
.left {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.right::before,
.left::before {
  display: block;
  content: '';
  height: 12px;
  width: 12px;
  position: relative;
  border-top: 2px solid color('black');
  border-right: 2px solid color('black');

  a:hover &,
  a:active &,
  a:focus & {
    border-width: 3px;
  }
}

.left::before {
  transform: rotate(225deg);
  left: 2px;
}

.right::before {
  transform: rotate(45deg);
  left: -2px;
}

.disabled::before {
  border-color: color('grey');
}

/*
 * Page count
 */
.count,
.active {
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  border-radius: 50%;
  border: 1px solid color('primary');
  font-weight: bold;
  width: 30px;
  height: 30px;
  color: color('primary');
  margin-left: 0.5em;
  margin-right: 0.5em;
}
