@import 'globals';

.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: color('grey-lighter');
}

.previous, .next {
  display: flex;
  align-items: center;
  align-content: center;
  padding: 1.2em;
}

.previous {
  border-right: 1px solid color('grey');
}

.next {
  border-left: 1px solid color('grey');
}
