@import 'globals';

.root {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  border-top: 8px solid color('primary');
  background-color: color('grey-lightest');
}

.root:last-child {
  margin-bottom: 0;
}
