@import 'globals';

$default-border-radius: map-get($form-fields-defaults, 'border-radius');
$suggestion-border: 1px solid color('grey-lite');

.input {
  @include map-declarations($form-fields-defaults, $form-fields-custom);
  display: block;
  width: 100%;
  transition: border-radius 150ms;
}

.open {
  position: relative;
}

.open .input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.valid {
  border-color: color('grey');
}

.valid:focus {
  border-color: color('dimmed');
}

.invalid {
  border-color: color('error');
}

.list {
  @include map-declarations($form-fields-defaults, $form-fields-custom);
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 2;
  list-style: none;
  padding: 0;
  border-top: 0 !important;
  border-color: color('dimmed');
  border-radius: 0 0 $default-border-radius $default-border-radius;
  background-color: color('white');
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.suggestion {
  padding: map-get($form-fields-defaults, 'padding');
  border-top: $suggestion-border;
  border-bottom: $suggestion-border;
  color: color('dimmed');
  cursor: pointer;
  transition: all 150ms;
}

.suggestion:first-of-type {
  border-top: 0;
}

.suggestion:last-of-type {
  border-bottom: 0;
}

.focused,
.suggestion:hover {
  background-color: color('primary');
  border-color: color('primary');
  color: color('white');
}
