@import 'globals';

.root {
  list-style: none;
  letter-spacing: $letter-spacing;
  margin-bottom: 12px;
  color: color('dimmed');

  @include media('<=text-boost') {
    font-size: 13px;
  }

  @include media('>text-boost') {
    font-size: 15px;
  }
}

.shared {
  margin-bottom: 2px;

  // TODO Set this using className modifier when iframe knows width.
  @include media('>petition-header') {
    display: inline-block;
  }
}

.item {
  composes: shared;

  // TODO Set this using className modifier when iframe knows width.
  @include media('>petition-header') {
    margin-right: 80px;
  }
}

.last-item {
  composes: shared;
}
