@import 'globals';

.root {
  @include media('<=sidebar') {
    width: 100%;
  }

  @include media('>sidebar') {
    width: 40%;
    width: 280px;
    margin-left: auto;
    padding-left: 40px;
  }
}
