 .root {
  position: relative;
 }

.canvas {
  display: block;
}

.small {
  composes: canvas;
  width: 34px;
  height: 34px;
}

.large {
  composes: canvas;
  width: 200px;
  height: 200px;
}

/* center the content of the progress bar */

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
