{
  "presets": ["es2015", "react", "stage-0"],
  "plugins": [
    ["transform-decorators-legacy", {
      "disable": {
        "production": true
      }
    }],
    ["typecheck", {
      "disable": {
        "production": true
      }
    }]
  ]
}
