@import 'globals';

.select {
  @include map-declarations($form-fields-defaults);
  appearance: none;
  background-color: color('white');
  border-color: color('grey');
  color: color('black');
}

.select:focus,
.select:active {
  border-color: color('dimmed');
}

.placeholder {
  composes: select;
  color: #a9a9a9;
}

@supports (-webkit-appearance: none) or (appearance: none)
          or ((-moz-appearance: none) and (mask-type: alpha)) {
  .select,
  .placeholder {
    padding-right: 40px;
  }
}
