@import 'globals';

.root {
  border-radius: 50%;
  position: relative;
}

.small {
  width: 30px;
  height: 30px;
}

.huge {
  width: 100px;
  height: 100px;
}

.error {
  composes: root;
  background-color: color('error');
}

.success {
  composes: root;
  background-color: color('success');
}

.icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.use {
  fill: white;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}
