@import 'globals';

.root {
  border-radius: 50%;
  position: relative;
  width: 30px;
  height: 30px;
  padding: 5px;
}

.error {
  composes: root;
  background-color: color('error');
}

.success {
  composes: root;
  background-color: color('success');
}

.icon {
  width: 14px;
  height: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
