@import 'globals';

.title {
  font-weight: normal;
  line-height: 1.3;

  @include media('<700px') {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include media('>700px') {
    font-size: 28px;
  }
}

.intro {
  color: color('dimmed');
  margin-top: 5px;
  margin-bottom: 5px;

  @include media('>700px') {
    font-size: 18px;
  }
}
