@import 'globals';

.root {
  display: block;
}

.button {
  margin-bottom: 15px;

  @include media('>text-boost') {
    display: inline-block;
    margin-left: 15px;
  }
}

.button:first-child {
  margin-left: 0;
}

.button > * {
  @include media('<=text-boost') {
    display: block;
    width: 100%;
  }
}
