@import 'globals';

/*
 * Shared button styles
 */
.shared {
  font-family: typography('font-family');
  line-height: normal;
  border-radius: 4px;
  border: 2px solid transparent;
  text-decoration: none;
  outline: 0;
  font-size: 1em;
}

/*
 * Regular (default) button, bordered
 */
.default {
  composes: shared;
  border-color: color('grey');
  color: color('black');
  background-color: transparent;
}

.default:hover,
.default:active,
.default:focus {
  color: color('white');
  background-color: color('grey');

  svg {
    fill: white;
  }
}

/*
 * Accent button, primary background
 */
.accent {
  composes: shared;
  color: color('white');
  background-color: color('primary');
}

.accent:hover,
.accent:active,
.accent:focus {
  background-color: darken(desaturate(adjust-hue(color('primary'), 10.8808), 16.5997), 5.6863);

  svg {
    fill: white;
  }
}

/*
 * Light button, white background
 */
.light {
  composes: shared;
  color: color('secondary');
  background-color: color('white');
}

.light:hover,
.light:active,
.light:focus {
  background-color: color('white');
}

/*
 * Disabled button
 */
.is-disabled {
  composes: shared;
  border-color: color('grey');
  background-color: transparent;
  color: color('dimmed');
  cursor: default;
}

.is-disabled:hover,
.is-disabled:active,
.is-disabled:focus {
  color: inherit;
  background-color: inherit;
}

/*
 * Regular size
 */
.size-regular {
  padding: 1.125em 1.5em;

  @include media('>text-boost') {
    font-size: 1.0875em;
  }
}

/*
 * Compact size
 */
.size-compact {
  padding: 1em;
  font-size: 0.925em;
}

/*
 * Default display
 */
.display-inline {
  display: inline-block;
  vertical-align: top;
}

/*
 * Using `<Button block />`
 */
.display-block {
  width: 100%;
  display: block;
}

/*
 * Brand buttons
 */
.brand-facebook:hover,
.brand-facebook:active,
.brand-facebook:focus {
  border-color: #3a5795;
  background-color: #3a5795;
}

.brand-twitter:hover,
.brand-twitter:active,
.brand-twitter:focus {
  border-color: #55acee;
  background-color: #55acee;
}

.brand-whatsapp:hover,
.brand-whatsapp:active,
.brand-whatsapp:focus {
  border-color: #4dc247;
  background-color: #4dc247;
}

.brand-email:hover,
.brand-email:active,
.brand-email:focus {
  border-color: color('black');
  background-color: color('black');
}

.brand-link-copied:hover,
.brand-link-copied:active,
.brand-link-copied:focus {
  border-color: color('success');
  background-color: color('success');
}
