@import 'globals';

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  margin-left: auto;
  margin-right: auto;
}

.counter {
  line-height: 1.15;
}

.total {
  display: block;
  font-weight: normal;
  font-size: 48px;
}
