@import 'globals';

.shared {
  @include map-declarations($form-fields-defaults, $form-fields-custom);
  display: block;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.valid {
  composes: shared;
  border-color: color('grey');
}

.valid:focus {
  border-color: color('dimmed');
}

.invalid {
  composes: shared;
  border-color: color('error');
}
