@import 'globals';

$field-height: 24px;

.field {
  @include map-declarations($form-fields-defaults);
  border-color: color('grey');
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.field:hover {
  cursor: pointer;
  border-color: color('dimmed');
}

.label {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: $field-height;
  text-align: center;
  color: color('dimmed');

  svg {
    margin-right: 5px;
  }
}
