@import 'globals';

.list {
  left: 100%;
  right: 0;
  background: color('white');
  list-style: none;
  z-index: 3;
  transition: transform 500ms;

  @include media('<=navigation-menu') {
    position: absolute;
    width: 260px;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @include media('>navigation-menu') {
    display: inline;
  }
}

.list.opened {
  transform: translateX(-100%);
}

/**
 * 1. Allows the border of the active element and the create petition button
 *    to overlap the nav‘s grey border.
 */
.element {
  @include media('>navigation-menu') {
    display: inline-block;
    padding: 0 1em;
    margin-bottom: -1px; /* 1 */
    vertical-align: top;
  }
}

.element:last-of-type {
  background-color: color('primary');
  color: color('white');
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  transition: all 250ms;
  padding: 0;

  @include media('>navigation-menu') {
    float: right;
  }

  &:hover,
  &:active,
  &:focus {
    background-color: darken(desaturate(adjust-hue(color('primary'), 10.8808), 16.5997), 5.6863);
  }
}

$link-border-height: 6px;
$link-padding: 16px;

/**
 * 1. We set a transparent border at the bottom, that will become green when
 *    the link is active. We do that so that we reserve space for the border
 *    and it doesn‘t move the whole content.
 * 2. We remove that border height from the padding so that the link isn‘t
 *    taller than it should be.
 */
.link {
  display: inline-block;
  padding-top: $link-padding;
  color: inherit;
  font-size: 20px;
  text-decoration: none;

  @include media('<=navigation-menu') {
    padding-left: 20px;
    padding-right: 20px;
    border-left: $link-border-height solid transparent; /* 1 */
    padding-bottom: $link-padding;
  }

  @include media('>navigation-menu') {
    border-bottom: $link-border-height solid transparent; /* 1 */
    padding-bottom: $link-padding - $link-border-height; /* 2 */
  }
}

.element:last-of-type {
  @include media('<=navigation-menu') {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
  }
}

.element:last-of-type .link {
  padding: $link-padding;
  border: 0;
}

.element:not(:last-of-type) .link:hover,
.element:not(:last-of-type) .active {
  border-color: color('primary');
}

