@value breakpoint, fontstack from 'styles/variables.css';
@value black from theme(colors);

.root {
  color: black;
  font-family: fontstack, Arial, sans-serif;
  font-size: 30px;
}

@media breakpoint {
  .root {
    color: #f00;
  }
}
