@import 'globals';

.root {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;

  @include media('<=text-boost') {
    max-width: 180px;
  }

  @include media('>text-boost') {
    max-width: 230px;
  }
}

.link {
  display: block;
  padding: 10px;
  flex: 1 1 auto;
}

.image {

  img {
    max-height: 45px;
  }
}
