@import 'globals';

.flex {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.root {
  composes: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  background: #213872;
  background-size: cover;
  color: color('white');
  text-decoration: none;

  @include media('<=grid-3-cols') {
    max-width: map-get($widths, 'teaser-max');
  }
}

.description {
  max-height: 3em;
  overflow: hidden;
}
