@import 'globals';

.root {
  margin-left: auto;
  margin-right: auto;
  min-width: map-get($widths, 'container-min');
  max-width: map-get($widths, 'container-max');

  @include media('<=text-max') {
    padding-left: map-get($spacing, 'gutter');
    padding-right: map-get($spacing, 'gutter');
  }

  @include media('>text-max') {
    padding-left: 5%;
    padding-right: 5%;
  }
}
