@import 'globals';

.default {
  max-width: map-get($widths, 'header-max');
}

.centered {
  composes: default;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.title {
  @include responsive-font(5vw, 30px, 42px);
}

.intro {
  @include responsive-font(3vw, 18px, 20px);
  margin-top: 22px;
}

.lower {
  @include responsive-font(3vw, 18px, 22px);
  padding-top: 5%;
}
