/*
 * Shared button styles
 */
$button-shared-defaults: (
  'font-family': $fonts-primary,
  'line-height': normal,
  'border-radius': 4px,
  'border': 2px solid transparent,
  'text-decoration': none,
  'outline': 0,
  'font-size': 1em
);

$button-shared-hover-icon-defaults: (
  'fill': white
);

/*
 * Regular (default) button, bordered
 */
$button-regular-defaults: (
  'border-color': color('grey'),
  'color': color('black'),
  'background-color': transparent,
);

$button-regular-hover-defaults: (
  'color': color('white'),
  'background-color': color('grey')
);

/*
 * Accent button, primary background
 */
$button-accent-defaults: (
  'color': color('white'),
  'background-color': color('primary')
);

$button-accent-hover-defaults: (
  'background-color': darken(desaturate(adjust-hue(color('primary'), 10.8808), 16.5997), 5.6863)
);

/*
 * Light button, white background
 */
$button-light-defaults: (
  'color': color('secondary'),
  'background-color': color('white')
);

$button-light-hover-defaults: (
  'background-color': color('white')
);

/*
 * Disabled button
 */
$button-disabled-defaults: (
  'color': color('dimmed')
);
