$color-black: #222 !default;
$color-white: #fff !default;
$color-primary: #2fcd0c !default;
$color-secondary: #387fd1 !default;
$color-tertiary: #1100c4 !default;

$color-button-primary-bg: $color-primary !default;
$color-button-primary-bg-hover: $color-tertiary !default;
$color-button-primary-text: $color-white !default;
$color-button-primary-text-hover: $color-white !default;
