// Only here so we do not throw a Sass error.
//
// When the user adds this file in their theme,
// sass & webpack reference that instead.

$colors-custom: ();

$paragraph-custom: ();

$supporting-copy-custom: ();

$heading-1-custom: ();

$heading-2-custom: ();
