// Only here so we do not throw a Sass error.
//
// When the user adds this file in their theme,
// sass & webpack reference that instead.

$colors-custom: ();

$heading-1-custom: ();

$heading-2-custom: ();

$paragraph-custom: ();

$intro-paragraph-custom: ();

$supporting-copy-custom: ();

$info-copy-custom: ();

$teaser-link-custom: ();

$form-fields-custom: ();

$form-hint-custom: ();

$button-shared-custom: ();

$button-shared-hover-icon-custom: ();

$button-border-custom: ();

$button-regular-hover-custom: ();

$button-smaller-custom: ();

$button-accent-custom: ();

$button-accent-hover-custom: ();

$button-disabled-custom: ();
