$font-primary: 'Open Sans', 'Arial', 'sans-serif' !default;

$paragraph-size: 20px !default;
$paragraph-line-height: 1.4 !default;
$paragraph-letter-spacing: 0.3px !default;

$heading-1-size: 5vw !default;
$heading-1-size-min: 26px !default;
$heading-1-size-max: 48px !default;
$heading-1-line-height: 1.125 !default;
$heading-1-letter-spacing: 0.9px !default;

$heading-2-size: 20px !default;
$heading-2-line-height: $paragraph-line-height !default;
$heading-2-letter-spacing: $paragraph-letter-spacing !default;

$type-vertical-spacing: 30px !default;
