$font-primary: 'Open Sans', 'Arial', 'sans-serif' !default;

$paragraph-size: 19px !default;
$paragraph-line-height: 1.5 !default;
$paragraph-letter-spacing: .3px !default;

$supporting-paragraph-size: 16px !default;
$supporting-paragraph-line-height: 1.5 !default;
$supporting-paragraph-letter-spacing: $paragraph-letter-spacing !default;

$heading-1-size: 5vw !default;
$heading-1-weight: normal !default;
$heading-1-size-min: 34px !default;
$heading-1-size-max: 50px !default;
$heading-1-line-height: 1.125 !default;
$heading-1-letter-spacing: .9px !default;

$heading-2-size: 22px !default;
$heading-2-line-height: $paragraph-line-height !default;
$heading-2-letter-spacing: $paragraph-letter-spacing !default;

$type-vertical-spacing: 30px !default;
$type-vertical-spacing-small: 15px !default;
