$fonts-primary: 'Open Sans', 'Arial', 'sans-serif' !default;

$line-height: 1.5 !default;

$letter-spacing: 0.3px !default;

$heading-1-defaults: (
  'font-size': 1em,
  'font-weight': normal,
  'text-transform': 'uppercase',
  'line-height': 1.125,
  'letter-spacing': 0.9px
) !default;

$heading-2-defaults: (
  'font-size': 22px,
  'text-transform': 'uppercase',
  'letter-spacing': $letter-spacing,
  'line-height': $line-height,
  'margin-bottom': 10px
) !default;

$paragraph-defaults: (
  'font-size': 18px,
  'letter-spacing': $letter-spacing,
  'line-height': $line-height,
  'margin-bottom': 20px
) !default;

$supporting-copy-defaults: (
  'font-size': 16px,
  'letter-spacing': $letter-spacing,
  'line-height': $line-height,
  'margin-bottom': 20px
) !default;

