{% if pageViewEvent %}

{% if googleAnalyticsID %}
  <script>
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  ga('create', '{{ googleAnalyticsID }}', 'auto');
  ga('send', 'pageview');
  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>
{% endif %}

<script>
  (function (global) {
    var pageViewEventFunction = function () {
      {% if googleAnalyticsID %}
        ga('set', 'page', window.location.pathname + window.location.search);
        ga('send', 'pageview');
      {% endif %}
    };

    global.addEventListener('{{ pageViewEvent | trim }}', pageViewEventFunction);
  })(window);
</script>

{% endif %}
