@import 'globals';

.root {
  list-style: none;
  font-size: 1em;
  letter-spacing: typography('letter-spacing');
  margin-bottom: 20px;
}

.shared {
  margin-bottom: 6px;

  @include media('>petition-header') {
    display: inline-block;
  }
}

.item {
  composes: shared;

  @include media('>petition-header') {
    margin-right: 80px;
  }
}

.last-item {
  composes: shared;
}

