@import 'globals';

.root {
  list-style: none;
  font-size: 1em;
  letter-spacing: $letter-spacing;
  margin-bottom: map-get($spacing, 'm-bottom');
}

.item {
  margin-bottom: 6px;

  @include media('>petition-header') {
    display: inline-block;
    margin-right: 80px;
  }
}
