@import 'globals';

.root {
  font-size: 20px;
  line-height: typography('line-height');
  margin-bottom: 12px;
}

.large {
  font-size: 2em;
  line-height: typography('line-height');
  font-weight: 400;
  margin-bottom: 18px;
}
