@import 'globals';

/**
 * 1. Positioning context for caret symbol if appearance none is supported.
 */
.wrapper {
  position: relative; /* 1 */
  width: 100%;

  &::after {
    content: '▼';
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.5em;
    pointer-events: none;
    color: color('black');
  }
}

.select {
  width: 100%;
}

@supports (-webkit-appearance: none) or (appearance: none)
          or ((-moz-appearance: none) and (mask-type: alpha)) {
  .wrapper::after {
    display: block;
  }

  .select {
    @include map-declarations($form-fields-defaults);
    appearance: none;
    padding: 8px 40px 8px 8px;
    background-color: color('white');
    border-color: color('grey');
    color: color('black');

    &:focus {
      border-color: color('dimmed');
    }
  }
}
