@import 'globals';

.root {
  @include map-declarations($form-fields-defaults, $form-fields-custom);
  display: block;
  width: 100%;
  height: 2.6em;
  padding: map-get($form-fields-defaults, 'padding');
  color: color('dimmed');
  background-color: color('white');
  border-color: color('grey');

  &:focus {
    border-color: color('dimmed');
  }
}
