@import 'globals';

.root {
  position: relative;
}

.default {
  composes: root;
  width: 20px;
  height: 20px;
}

.tiny {
  composes: root;
  width: 10px;
  height: 10px;
}

.smaller {
  composes: root;
  width: 12px;
  height: 12px;
}

.small {
  composes: root;
  width: 16px;
  height: 16px;
}

.medium {
  composes: root;
  width: 22px;
  height: 22px;
}

.large {
  composes: root;
  width: 26px;
  height: 26px;
}

.huge {
  composes: root;
  width: 50px;
  height: 50px;
}

.dark {
  fill: color('black');
}

.invert {
  fill: white;
}

.primary {
  fill: color('primary');
}

.dimmed {
  fill: color('dimmed');
}

.highlight {
  fill: color('primary');
}

.inline {
  display: inline-block;
  vertical-align: middle;
}

.use {
  display: block;
}
