@import 'globals';

.root {
  position: relative;
}

.default {
  composes: root;
  width: 20px;
  height: 20px;
}

.small {
  composes: root;
  width: 16px;
  height: 16px;
}

.large {
  composes: root;
  width: 26px;
  height: 26px;
}

.invert {
  fill: white;
}

.dimmed {
  fill: color('dimmed');
}

.inline {
  display: inline-block;
  vertical-align: middle;
}

.use {
  display: block;
}
