@import 'globals';

:export {
  menuBreakpoint: map-get($breakpoints, 'navigation-menu');
}

.overlay {
  position: absolute;
  top: map-get($heights, 'site-header');
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

.overlay.opened {
  pointer-events: all;
}

/**
 * 1. Allows the border of the active element and the create petition button
 *    to overlap the nav‘s grey border.
 */
.element {
  @include media('>navigation-menu') {
    display: inline-block;
    padding: 0 1em;
    margin-bottom: -1px; /* 1 */
    vertical-align: top;
  }
}

/**
 * 1. Positioning context for burger-menu.
 */
.wrapper {
  composes: element;
  position: relative; /* 1 */
  padding: 0;
  padding-right: 1em;
  height: map-get($heights, 'site-header');
  display: flex;
  align-items: center;
}

.navigation {
  @include media('>navigation-menu') {
    display: flex;
    align-items: center;
  }
}

.menu {
  @include media('>navigation-menu') {
    flex: 1;
  }
}

.logo-text {
  font-size: 26px;
  text-decoration: none;
}

.logo-image {
  display: inline-block;
  text-decoration: none;
  height: 35px;
}
