@import 'globals';

/**
 * 1. Extra 1% so that it goes under the nav's grey border.
 */
.overlay {
  pointer-events: none;
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 101%; /* 1 */
  left: 0;
  opacity: 0;
  background-color: color('black');
  transition: opacity 500ms;
  z-index: 2;
}

.overlay.opened {
  opacity: 0.6;
}

.list {
  position: absolute;
  height: 100vh;
  width: 260px;
  padding: 20px;
  left: 100%;
  top: 101%;
  right: 0;
  background: color('white');
  list-style: none;
  z-index: 2;

  @include media('>=940px') {
    position: static;
    display: inline;
    padding: 0;
    height: auto;
    width: auto;
  }
}

.list.closed {
  transition: transform 500ms;
}

.list.opened {
  transform: translateX(-100%);
  transition: transform 500ms;
}

/**
 * 1. Allows the border of the active element and the create petition button
 *    to overlap the nav‘s grey border.
 */
.element {
  @include media('>=940px') {
    display: inline-block;
    padding: 0 1em;
    margin-bottom: -1px; /* 1 */
    vertical-align: top;
  }
}

/**
 * 1. Positioning context for burger-menu.
 */
.logo-wrapper {
  composes: element;
  position: relative; /* 1 */

  padding: 0;
  padding-right: 1em;
}

.element:not(.logo-wrapper):last-of-type {
  width: 100%;
  background-color: color('success');
  color: color('white');
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;

  @include media('>=940px') {
    float: right;
    width: auto;
  }
}

$link-border-height: 6px;
$link-padding: 16px;

/**
 * 1. We set a transparent border at the bottom, that will become green when
 *    the link is active. We do that so that we reserve space for the border
 *    and it doesn‘t move the whole content.
 * 2. We remove that border height from the padding so that the link isn‘t
 *    taller than it should be.
 */
.link {
  display: inline-block;
  border-bottom: $link-border-height solid transparent; /* 1 */
  padding-top: $link-padding;
  padding-bottom: $link-padding - $link-border-height; /* 2 */
  color: inherit;
  font-size: 20px;
  text-decoration: none;
}

.element:not(:last-of-type) .link {
  margin-bottom: 0.5em;

  @include media('>=940px') {
    margin-bottom: 0;
  }
}

.element:not(.logo-wrapper):not(:last-of-type) .link:hover,
.element:not(.logo-wrapper):not(:last-of-type) .active {
  border-color: color('success');
}
