@import 'globals';

.list {
  margin-top: map-get($spacing, 'm-bottom');
  width: 75%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}

.item {
  margin-bottom: 10px;
}

.item:last-child {
  margin-bottom: 0;
}
