@import 'globals';

.input {
  @include map-declarations($form-fields-defaults);
  display: block;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.valid {
  border-color: color('grey');
}

.valid:focus {
  border-color: color('dimmed');
}

.invalid {
  border-color: color('error');
}

.items {
  max-width: map-get($widths, 'teaser-max');
  list-style: none;
}

.item + .item {
  margin-top: 0.5em;

}
