@import 'globals';

.link {
  display: block;
  position: relative;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 1px solid color('grey');
}

.link:hover,
.link:active,
.link:focus {
  fill: white;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.label {
  @include visuallyhidden;
}

.facebook,
.twitter,
.email,
.whatsapp {
  composes: link;
}

.facebook:hover,
.facebook:active,
.facebook:focus {
  border-color: #3a5795;
  background-color: #3a5795;
}

.twitter:hover,
.twitter:active,
.twitter:focus {
  border-color: #55acee;
  background-color: #55acee;
}

.whatsapp:hover,
.whatsapp:active,
.whatsapp:focus {
  border-color: #4dc247;
  background-color: #4dc247;
}

.email:hover,
.email:active,
.email:focus {
  border-color: color('black');
  background-color: color('black');
}
