@import 'globals';

.root {
  list-style: none;
  font-size: 1em;
  letter-spacing: $letter-spacing;
  margin-bottom: map-get($spacing, 'm-bottom');
  color: color('dimmed');
}

.shared {
  margin-bottom: 6px;

  // TODO Set this using className modifier when iframe knows width.
  @include media('>petition-header') {
    display: inline-block;
  }
}

.item {
  composes: shared;

  // TODO Set this using className modifier when iframe knows width.
  @include media('>petition-header') {
    margin-right: 80px;
  }
}

.last-item {
  composes: shared;
}
