@import 'globals';

.root {
  margin-top: 12px;

  @include media('<=text-boost') {
    font-size: 13px;
  }

  @include media('>text-boost') {
    font-size: 15px;
  }
}

.link a:link,
.link a:visited {
  font-weight: bold;
  border-bottom: 0;
}

.text {
  color: color('dimmed');
}
