@import 'globals';

.root {
  margin-top: 15px;
}

.link-text {
  text-decoration: none;
}

.link-image {
  text-decoration: none;
  display: inline-block;
  height: 22px;
  vertical-align: middle;
  position: relative;
  margin-left: 5px;
  top: -1px;
}

.text {
  color: color('dimmed');
}
