@import 'globals';

.bottom {
  margin-top: 1.2em;

  @include media('>=768px') {
    display: flex;
    flex-direction: row;
    width: 66.6%;
    margin: 0 auto;
  }
}

.block {
  @include media('>=768px') {
    width: 300px;
  }
}
