@import 'globals';

.root {
  padding-bottom: 200px;
}

.actions {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 15px 0;
  background-color: color('white');
  border-top: 1px solid color('grey');
  z-index: 10;
}
