@import 'globals';

.root {
  padding-bottom: 200px;
}

.actions {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px 15px 0;
  background-color: color('white');
  border-top: 3px solid color('grey');
}
