@import 'globals';

.root {
  padding-bottom: 30px;
  position: relative;
}

.padding {
  composes: root;

  @include media('<=text-boost') {
    padding-top: 35px;
  }

  @include media('>text-boost') {
    padding-top: 8%;
  }
}
