@import 'globals';

.root {
  margin-bottom: 30px;
}

.counter {
  @include media('>petition-header') {
    font-size: 18px;
  }
}

.specifics {
  color: color('dimmed');
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

.support-button {
  text-align: center;
}

.share {
  margin-top: 30px;
}
