
@import 'globals';

$menu-breakpoint: map-get($breakpoints, 'navigation-menu');

.burger-wrapper {
  position: absolute;
  top: 50%;
  right: 0;
  cursor: pointer;

  @include media('>=#{$menu-breakpoint}') {
    @include visuallyhidden;
  }
}

.burger-wrapper > span {
  position: inherit;
  right: 2em;
  transform: translateY(-50%);
}

.burger-menu {
  position: absolute;
  right: 0;
  width: 16px;
  height: 16px;
  transform: translateY(-50%);
}

.burger-menu span {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: color('black');

  &:first-child {
    top: 0;
  }

  &:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }

  &:last-child {
    bottom: 0;
  }
}

.burger-wrapper.closed .burger-menu span {
  &:first-child {
    animation: test4 500ms forwards reverse;
  }

  &:nth-child(2) {
    animation: test5 250ms forwards reverse;
  }

  &:last-child {
    animation: test6 500ms forwards reverse;
  }
}

.burger-wrapper.opened .burger-menu span {
  &:first-child {
    animation: test 500ms forwards;
  }

  &:nth-child(2) {
    animation: test2 250ms forwards;
  }

  &:last-child {
    animation: test3 500ms forwards;
  }
}

@keyframes test {
  50% {
    top: 50%;
    transform: translateY(-50%);
  }

  100% {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
}

@keyframes test2 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes test3 {
  50% {
    top: 50%;
    transform: translateY(-50%);
  }

  100% {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
}

@keyframes test4 {
  50% {
    top: 50%;
    transform: translateY(-50%);
  }

  100% {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
}

@keyframes test5 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes test6 {
  50% {
    top: 50%;
    transform: translateY(-50%);
  }

  100% {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
}
