@import 'globals';

.default {
  margin-bottom: 0;
}

.margin {
  @include media('<=#{sidebar}') {
    margin-bottom: 20px;
  }

  @include media('>#{sidebar}') {
    margin-bottom: 40px;
  }
}

.grey {
  background-color: color('grey-lighter');
}

.light {
  background-color: color('grey-lightest');
}

.padding {
  padding-top: 40px;
  padding-bottom: 40px;
}
