@import 'globals';

.root {
  padding-top: 2em;

  @include media('>768px') {
    display: flex;
    justify-content: flex-end;
  }
}

.filter {
  position: relative;
}

.label {
  color: color('black');
  font-weight: bold;
  cursor: pointer;
}

/**
 * 1. Positioning context for input icon.
 */
.input-wrapper {
  position: relative; /* 1 */
  width: 100%;
  max-width: 300px;
  margin-top: 1em;
  font-weight: normal;
  color: color('black');

  @include media('>768px') {
    display: inline-block;
  }
}

.icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  pointer-events: none;
}

