@import 'globals';

.top {
  @include media('>=768px') {
    margin: 0 auto;
    max-width: 80%;
  }
}

.bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.image {
  max-height: 46px;
  margin-right: 20px;
  margin-bottom: 0.8em;
}
