@import 'globals';

.root {
  margin-bottom: 15px;
}

.label {
  font-weight: bold;
}

.hint {
  display: block;
  line-height: 1.2;
  margin-bottom: 5px;
}

.field {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid color('grey');
}

.input {
  composes: field;
}

.textarea {
  composes: field;
  resize: vertical;
}

.error {
  font-weight: normal;
  display: block;
  margin-top: 5px;
}
