@import 'globals';

.overlay {
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  transition: background-color 500ms;
  outline: none;
}

.active {
  composes: overlay;
  background-color: rgba(0, 0, 0, 0.66);

  &:focus {
    outline: color('grey') solid 3px;
  }
}
