@import 'globals';

.root {
  list-style: none;
  font-size: 1em;
  letter-spacing: $letter-spacing;
  align-items: stretch;
  display: flex;
  justify-content: space-between;
}

.item {
  margin-top: 10px;

  @include media('<=text-boost') {
    word-wrap: break-word;
  }
}

.days-item {
  composes: item;

  @include media('>sidebar') {
    @include visuallyhidden;
  }
}

.figure {
  display: block;
  color: color('primary');

  @include media('<=text-boost') {
    font-size: 18px;
  }

  @include media('>text-boost') {
    font-size: 1.5em;
  }
}

.label {
  color: color('black');
  display: block;

  @include media('<=text-boost') {
    font-size: 13px;
    line-height: 1.2;
  }
}
