@import 'globals';

$max-from-top: 50px;
$max-from-edge: 10px;

.root {
  display: block;
}

.overlay {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.66);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.content {
  position: fixed;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 600px;
  padding: 0 15px 20px;
  max-height: calc(100vh - #{($max-from-top * 2)});
  max-width: calc(100vw - #{($max-from-edge * 2)});
  overflow-y: auto;
  overflow-x: hidden;

  background-color: color('white');
  border-radius: 2px;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
}
