@import 'globals';

.textarea {
  @include map-declarations($form-fields-defaults, (
    'padding': 10px
  ));
  border-color: color('grey');
  font-family: Monospace;
  height: 100px;
  margin-bottom: 15px;
  font-size: 14px;
}
