@import 'globals';

.field {
  @include map-declarations($form-fields-defaults);
}

.input {
  composes: field;
}

.textarea {
  composes: field;
  resize: vertical;
  min-height: 250px;
}

.valid {
  border-color: color('grey');
}

.valid:focus {
  border-color: color('dimmed');
}

.invalid {
  border-color: color('error');
}
