@import 'globals';

.root {
  @include responsive-font(
    $heading-1-size,
    $heading-1-size-min,
    $heading-1-size-max,
    $heading-1-size-max
  );
  font-family: $font-primary;
  line-height: $heading-1-line-height;
  letter-spacing: $heading-1-letter-spacing;
  margin-bottom: $type-vertical-spacing;
}
