<!doctype html>
<html lang="{{ lang or 'en' }}">
  <head>
    <meta charset="{{ charset or 'utf-8' }}">
    <title>{{ title or 'iris-frontend' }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, height=device-height">
    {% for meta in openGraph %}
      <meta property="{{ meta.property }}" content="{{ meta.content }}"/>
    {% endfor %}
    {% include 'theme/includes/webfonts.html' %}
    {% for stylesheet in bundles.stylesheets %}
      <link rel="stylesheet" href="{{ stylesheet }}"/>
    {% endfor %}
    {% include 'assets/includes/head.html' %}
    {% include 'theme/includes/head.html' %}
    <script type="application/ld+json">
      {{ schema | safe }}
    </script>
  </head>
  <body>
    <div id="app">{{ reactMarkup | safe }}</div>
  </body>
  <script>window.__INITIAL_STATE__={{ initialState | safe }}</script>
  {% for script in bundles.javascripts %}
    <script src="{{ script }}"></script>
  {% endfor %}
  {% include 'assets/includes/scripts.html' %}
  {% include 'theme/includes/scripts.html' %}
</html>
