@import 'globals';

.shared {
  display: block;
  width: 100%;
}

.regular {
  composes: shared;

  @include media('<=text-boost') {
    height: 10px;
  }

  @include media('>text-boost') {
    height: 12px;
  }
}

.small {
  composes: shared;

  @include media('<=text-boost') {
    height: 8px;
  }

  @include media('>text-boost') {
    height: 10px;
  }
}
