@import 'reset';
@import 'globals';
@import 'theme';

/*
 * 1. Always show scrollbar so modal content does not jump
 */
html {
  -webkit-font-smoothing: antialiased;
  overflow-y: scroll; /* 1 */
  min-height: 100%;
  height: 100%;
}

body {
  font-family: typography('font-family');
  color: color('black');
  line-height: typography('line-height');
  letter-spacing: typography('letter-spacing');
  min-height: 100%;
  height: 100%;
}

svg {
  display: block;
}

a {
  color: color('tertiary');
}

input,
textarea {
  appearance: none;
  box-shadow: none;
}

textarea {
  resize: vertical;
}


/*
 * 1. Positioning context for overlay and mobile menu
 * 2. Minimum 100vh height to mimic html element
 * 3. Hides overflow and stop scrolling when modal active
 * 4. Strange bug when placeholder won't disappear after
 *    programatically setting input field value
 */
:global {
  .wrapper {
    position: relative; /* 1 */
    min-height: 100vh; /* 2 */
    overflow: hidden;
  }

  .disabled-scroll,
  .disabled-scroll body {
    overflow: hidden; /* 3 */
  }

  .disabled-scroll .app-wrapper {
    overflow-y: scroll;
  }

  [value]:not([value=''])::-webkit-input-placeholder {
    color: transparent; /* 4 */
  }
}
