@import 'reset';
@import 'globals';

/*
 * 1. Always show scrollbar so modal content does not jump
 */
html {
  -webkit-font-smoothing: antialiased;
  overflow-y: scroll; /* 1 */
  min-height: 100%;
  height: 100%;
}

body {
  font-family: $fonts-primary;
  color: color('black');
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  overflow-x: hidden;
  min-height: 100%;
  height: 100%;
}

svg {
  display: block;
}

a {
  color: color('tertiary');
}

/*
 * 1. Positioning context for overlay and mobile menu
 * 2. Minimum 100vh height to mimic html element
 * 3. Hides overflow and stop scrolling when modal active
 */
:global {
  .main-content {
    padding-bottom: calc(80px + #{map-get($heights, 'site-footer')});
  }

  .wrapper {
    position: relative; /* 1 */
    min-height: 100vh; /* 2 */
    overflow: hidden;
  }

  .disabled-scroll,
  .disabled-scroll body {
    overflow: hidden; /* 3 */
  }
}
