@import 'globals';

.heading {
  @include responsive-font(5vw, 30px, 55px);
  max-width: map-get($widths, 'header-max');
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
  padding-bottom: 5%;
}
