@import 'globals';

.root {
  position: relative;

  @include media('>=768px') {
    margin-bottom: 0;
  }

  &:not(:last-child) {
    margin-right: 2em;
    margin-bottom: 1em;
  }
}

.label {
  color: color('black');
  font-weight: bold;
  cursor: pointer;
}

.input-wrapper {
  width: 100%;
  max-width: 300px;
  margin-top: 1em;
  font-weight: normal;
  color: color('black');

  @include media('>=768px') {
    display: inline-block;
  }
}
