@import 'globals';

.root {
  position: relative;
  margin-bottom: 30px;
}

.hidden {
  @include visuallyhidden;
}

.field {
  position: relative;
}

.autocomplete-wrapper {
  @include media('<=form-switch') {
    max-width: map-get($widths, 'autocomplete-max');
  }
}

.autocomplete-field {
  max-width: map-get($widths, 'autocomplete-max');
}
