@import 'globals';

.shared {
  max-width: map-get($widths, 'fieldset-max');
  margin-left: auto;
  margin-right: auto;
}

.first {
  composes: shared;
  margin-bottom: 20px;

  @include media('<=text-boost') {
    padding-top: 35px;
  }

  @include media('>text-boost') {
    padding-top: 8%;
  }
}

.root {
  composes: shared;
  margin-bottom: 5%;
}

