@import 'globals';

.root {
  max-width: map-get($widths, 'fieldset-max');
  margin-left: auto;
  margin-right: auto;

  @include media('<=text-boost') {
    padding-top: 35px;
  }

  @include media('>text-boost') {
    padding-top: 8%;
  }
}
