@import 'globals';

.shared {
  padding-bottom: 1px;
  text-decoration: none;
}

.root {
  composes: shared;
}

.root:link,
.root:visited {
  color: color('secondary');
  border-bottom: 1px solid color('secondary');
}

.root:hover,
.root:active,
.root:focus {
  color: color('primary');
  border-bottom-color: color('primary');
}

.invert {
  composes: shared;
}

.invert:link,
.invert:visited {
  color: color('white');
  border-bottom: 1px solid color('white');
}

.invert:hover,
.invert:active,
.invert:focus {
  border-bottom-color: transparent;
}
