@import 'globals';

.root {
  margin-bottom: 8px;

  @include media('<=800px') {
    padding-right: 40px;
  }
}

.label {
  cursor: pointer;
  display: block;

  @include media('>500px') {
    font-size: 20px;
  }
}

.hint {
  @include map-declarations($form-hint-defaults, $form-hint-custom);
  margin-top: 2px;
  display: block;
}
