@import 'globals';

.root {
  margin-bottom: 8px;

  @include media('<=form-switch') {
    padding-right: 40px;
  }
}

.label {
  cursor: pointer;
  display: block;

  @include media('>text-boost') {
    font-size: 20px;
  }
}

.hint {
  font-style: normal;
  color: color('dimmed');
  margin-top: 3px;
  display: block;

  @include media('<=text-boost') {
    font-size: 14px;
  }

  @include media('>text-boost') {
    font-size: 15px;
  }
}

.optional-label {
  font-size: 15px;
  color: color('dimmed');
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
}
