@import 'globals';

.root {
  margin-bottom: 8px;
}

.label {
  @include media('>500px') {
    font-size: 20px;
  }
}

.hint {
  @include map-declarations($form-hint-defaults, $form-hint-custom);
  display: block;
}
